@charset "UTF-8";

/* 共通部分 */

body {
  font-family: "Raleway","Lato", sans-serif;
}

p {
  font-family: "Lato", "Raleway", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.text-decoration {
  text-decoration: none;
}

/* header */

.header {
  background-color: #fff;
  width: 100%;
  position: fixed;
  padding: 15px 0;
  z-index: 100;
}

.clearfix::after {
  clear: both;
  content: "";
  display: block;
}

.fa-bolt {
  font-size: 40px;
  float: left;
  color: #4e4e4e;
}

.contact-button {
  background-color: #74cfae;
  color: #fff;
  float: right;
  font-size: 12px;
  padding: 14px 12px;
  transition: 0.3s;
  width: min-content;
}




.contact-button:hover {
  color: #333;
}

/* headerここまで */

/* main */

.main {
  padding-top: 70px;
}

/* Bolt Themeここから */

.bolttheme_box {
  background-color: #f2f2f2;
  width: 100%;
  padding: 250px 0;
}

.bolttheme {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  text-align: center;
}

.free {
  color: #c0c0c0;
  font-size: 30px;
  margin-top: 20px;
  text-align: center;
}
/* Bolt Themeここまで */
/* what we can doここから */

.smartphone_box {
  background-color: #74cfae;
  padding-top: 50px;
}

.iphone {
  float: left;
  vertical-align: bottom;
}

.smartphone_text_box {
  float: left;
  width: 62%;
  margin-left: 160px;
}

.whatwecando {
  color: #fff;
  font-size: 24px;
  text-align: center;
}

.smartphone_text {
  color: #fff;
  font-size: 20px;
  margin-top: 35px;
  text-align: center;
  line-height: 35px;
}

/* what we can doここまで */
/* our latest workここから */

.pictures_box {
  background-color: #f2f2f2;
  padding: 60px 0 70px;
}

.picturestheme {
  font-size: 24px;
  text-align: center;
}

.pictures {
  font-size: 0;
  margin-top: 40px;
}

.picture-jpg {
  display: inline-block;
  margin-left: 100px;
}

.img-picture-hover {
  display: inline-block;
}

.img-jpg-hover {
  opacity: .7;
  transition: .3s;
  z-index: 2;
}

.img-jpg-hover:hover {
  opacity: 1;
}

.picture-jpg:nth-child(3n+1) {
  margin-left: 0;
}

.picture-jpg:nth-child(n+4) {
  margin-top: 80px;
}

.pictures_text_box {
  margin-top: 90px;
  text-align: center;
}

.pictures_text {
  display: inline-block;
  font-size: 20px;
  text-align: center;
  line-height: 25px;
  width: 56%;
}

.pictures-button {
  background-color: #74cfae;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  margin-left: 90px;
  padding: 14px 20px;
  transition: 0.3s;
  vertical-align: top;
}

.pictures-button:hover {
  color: #333;
}

/* our latest workここまで */
/* our skillsここから */

.circle_box {
  background-color: #4e4e4e;
  width: 100%;
  padding: 70px 0 100px;
}

.circletheme {
  color: #fff;
  font-size: 24px;
  text-align: center;
}

.circle_content_box {
  text-align: center;
  margin-top: 70px;
}

.circles {
  display: inline-block;
  margin-left: 180px;
}

.circles:first-child {
  margin-left: 0;
}

.circle_text {
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
}

/* our skillsここまで */
/* SNSここから */

.sns_box {
  background-color: #f2f2f2;
  width: 100%;
  padding: 200px 0;
}

.snsmark_box {
  text-align: center;
}

.sns-block {
  display: inline-block;
  width: 185px;
}

.sns-icon {
  color: #74cfae;
  font-size: 45px;
  padding: 30px 0;
  transition: 0.3s;
  width: 100%;
}

.sns-icon:hover {
  background-color: #fff;
}

/* SNSここまで */
/* mainここまで */

/* footer */

.footer {
  background-color: #74cfae;
  padding: 20px 0 25px;
  width: 100%;
}

.footer_text {
  color: #fff;
  font-size: 16px;
  text-align: right;
}

/* footerここまで */


@media screen and (max-width:1199px){
  /*画面幅が768px~1199pxまで(TAB)の時*/


  /* 共通部分 */
  .inner {
    width: 97%;
    height: auto;
  }

  /* What we can do */

  .center-sp-tab {
    text-align: center;
  }

  .iphone,
  .smartphone_text_box {
    float: none;
    margin: 0 auto;
  }

  .smartphone_text_box {
    width: 100%;
  }

  .whatwecando {
    margin-top: 20px;
  }

  .smartphone_box {
    padding-bottom: 25px;
  }

  /* Our latest work */

  .pictures {
    text-align: center;
  }

  .picture-jpg {
    margin-top: 0;
    margin-left: 0;
    display: block;
    }

    .picture-jpg:nth-child(n+4) {
      margin-top: 0;
  }

  .picture-jpg:nth-child(3n+1) {
      margin-top: 80px;
    }
    
  .picture-jpg:first-child {
    margin-top: 0;
  }

  .pictures_text_box {
    margin-top: 80px;
  }

  .pictures_text {
    width: 100%;
  }

  .br-tab-sp {
    display: none;
  }

  .pictures-button {
    margin-left: 0;
    margin-top: 40px;
  }

  /* Our skills */

  .circles:first-child {
    margin-top: 0;
  }

  .circles {
    margin-top: 88px;
    margin-left: 0;
    display: block;
  }

  /* footer */

  .footer_text {
    margin-right: 15px;
  }
}



@media screen and (max-width:767px){
  /*画面幅が767pxまで(SP)の時*/


  /* header */
  .contact-button {
    display: none;
  }

  /* ハンバーガー枠 */
.checkbox {
  float: right;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* ハンバーガー線 */
.line {
  width: 20px;
  height: 2px;
  background-color: #ddd;
  margin: 7px;
}


  /* Bolt Theme */
  .bolttheme_box {
    padding-top: 160px;
    padding-bottom: 130px;
  }

  .bolttheme {
    font-size: 80px;
  }

  /* SNS-Icon */

  .sns_box {
    padding: 50px 0;
  }

  .sns-block {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

}








